body{

font-family:Arial;

background:#f2f2f2;

margin:0;

padding:20px;

}

.container{

max-width:400px;

margin:auto;

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 0 10px gray;

text-align:center;

}

input{

width:100%;

padding:12px;

font-size:16px;

margin-top:20px;

}

button{

margin-top:20px;

padding:12px;

width:100%;

font-size:18px;

background:#0b63ce;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

}

img{

margin-top:25px;

width:250px;

display:none;

}
